### Go template
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Built binary files & runtime files
asmroner
asmroner.exe
.asmroner-data

# MacOS system files
.DS_Store
/.vscode
/dotnet/tests/Asmroner.Wpf.Tests/obj
/dotnet/tests/Asmroner.Wpf.Tests/bin
/dotnet/tests/Asmroner.IntegrationTests/obj
/dotnet/tests/Asmroner.IntegrationTests/bin
/dotnet/tests/Asmroner.Infrastructure.Tests/obj
/dotnet/tests/Asmroner.Infrastructure.Tests/bin
/dotnet/tests/Asmroner.Core.Tests/obj
/dotnet/tests/Asmroner.Core.Tests/bin
/dotnet/tests/Asmroner.Application.Tests/obj
/dotnet/tests/Asmroner.Application.Tests/bin
/dotnet/Asmroner.Wpf/Asmroner.Wpf/obj
/dotnet/Asmroner.Wpf/Asmroner.Wpf/bin
/dotnet/Asmroner.Backend/Asmroner.Infrastructure/obj
/dotnet/Asmroner.Backend/Asmroner.Core/obj
/dotnet/Asmroner.Backend/Asmroner.Core/bin
/dotnet/Asmroner.Backend/Asmroner.Application/obj
/dotnet/Asmroner.Backend/Asmroner.Application/bin
/dotnet/.vs
/docs/prompts.md
/dotnet/Asmroner.Backend/Asmroner.Infrastructure/bin
/.agents
/.github
/docs/review
/docs/ai_research
/dotnet/tools
/docs/api_sample
/.workbuddy
/docs/learn
